
/* .h1{
    padding: 0px;
    font-size: 2.5rem;
    color: rgb(249, 59, 21);
  } */

  .header {  
    width: 88%;
    height: 5rem;
    background-color: #8a2b06;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);   
  }